body {
 background-color: #0079BF;
}

* {
  box-sizing: content-box;
    position: relative;
}

body::-webkit-scrollbar {
    width: 1em;
    border-radius: 
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.listaPreview {
     margin-top: 10px;
    margin-left: 10px;
    position: relative;
    background-color: #006AA8;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    color: whitesmoke;
    top: 0px;
    display: inline-block;
}

.contenido{
    white-space: nowrap;
}

.listaPreview:hover{
    background-color: #005586;
}

.formList{
    position: relative;
    text-align: center;
    background-color: #E2E4E6;
    width: 230px;
    top: 0px;
    border-radius: 5px;
    box-sizing:content-box;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.btnFl {
    text-align: center;
    margin: 8px;
}

.inputFl { 
    position: relative;
    top: 0;
    border: 1px solid #B5B6B7;
    background-color: #D7D9DB;
    box-shadow: 3px 3px 3px 3px #ccc;
    width: 200px;
    margin: 8px;
    height: 30px;
    color: black;
}

.inputFl:hover { 
    position: relative;
    border: 1px solid #B5B6B7;
    background-color: #E2E4E6;
    box-shadow: 3px 3px 3px 3px #ccc;
    color: black;
    
  
}

.menu{
   background-color: #276787;
    text-align: center;
}

#menu {
    position: fixed;
    top: 0px;
    width: 100%;
}

.mt-10{
    white-space: nowrap;
    top: 60px;
    margin-top: 10px;
    margin-left: 10px;
}

.tarjeta{
    vertical-align: top;
    position: relative;
    top: 0;
    width: 251px;
    height: auto;
    background-color: #E2E4E6;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    padding: 5px;
    white-space: normal;
    box-sizing: border-box;
}

.subtarjeta1{
    resize: none;
    border: 1px solid #DBE1EB;
    margin: 7px;
    border-radius: 4px;
    width: 90%;
}

.subtarjeta{
    background-color: white;
    margin: 8px;
    color: black;
    display: block;
    padding: 10px;
    border-radius:5px;
    text-align: left;
}
.subtarjeta:hover{
    background-color: #EDEFF0;

}
.botAni{
    position: relative;
    text-align: center;

}
.textSubA{
    resize: none;
    border: none;
}
.titulo {
    display: block;
    text-align: left;
    left: 10px;
}